
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/websockets/pipes.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="pipes">Pipes</h3>
<p>There is no fundamental difference between <a routerLink="/pipes">regular pipes</a> and web sockets pipes. The only difference is that instead of throwing <code>HttpException</code>, you should use <code>WsException</code>. In addition, all pipes will be only applied to the <code>data</code> parameter (because validating or transforming <code>client</code> instance is useless).</p>
<blockquote class="
info "><strong>Hint</strong> The <code>WsException</code> class is exposed from <code>@nestjs/websockets</code> package.
</blockquote>
<h4 appAnchor id="binding-pipes"><span>Binding pipes</span></h4>
<p>The following example uses a manually instantiated method-scoped pipe. Just as with HTTP based applications, you can also use gateway-scoped pipes (i.e., prefix the gateway class with a <code>@UsePipes()</code> decorator).</p>

<span class="filename">
<app-tabs #app5d8a67a37de5cd686673936f2e9884f5b63352e6></app-tabs>
</span><pre [class.hide]="app5d8a67a37de5cd686673936f2e9884f5b63352e6.isJsActive"><code class="language-typescript">
@UsePipes(new ValidationPipe())
@SubscribeMessage(&#39;events&#39;)
handleEvent(client: Client, data: unknown): WsResponse&lt;unknown&gt; &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;
</code></pre>
<pre [class.hide]="!app5d8a67a37de5cd686673936f2e9884f5b63352e6.isJsActive"><code class="language-typescript">
@UsePipes(new ValidationPipe())
@SubscribeMessage(&#39;events&#39;)
handleEvent(client, data) &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;
</code></pre>
</div>

