
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/enterprise.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="official-nestjs-consulting">Official NestJS Consulting</h3>
<p>Our goal is to ensure that your developers are successful and productive with NestJS as well as other modern technologies in today&#39;s ever-changing tech world.</p>
<h3 id="official-support">Official Support</h3>
<p>With official support, get expert help directly from the NestJS core team. We tackle your toughest challenges, and collaborate with your team on many levels such as:</p>
<ul>
<li>Providing technical guidance &amp; architectural reviews</li>
<li><strong>Mentoring</strong> team members</li>
<li>Advising best practices</li>
<li>Solving design decisions</li>
<li>Addressing security &amp; performance concerns</li>
<li>Performing <strong>in-depth</strong> code reviews</li>
</ul>
<div class="row">
  <div class="content">
    <h4>Team Augmentation & Development</h4>
    <p>
      With team augmentation, NestJS core team members can work directly with your team on a daily basis to help take your project to the next-level. Consider us “part of your team”, tackling the most ambitious projects - right by your side.
    </p>
  </div>
  <div class="thumbnail p-l-30">
    <img src="/assets/enterprise/help.svg" />
  </div>
</div>

<div class="row">
<div class="thumbnail p-r-30">
    <img src="/assets/enterprise/contact.svg" />
  </div>
  <div class="content">
    <h4>NestJS Best Practices</h4>
    <p>
      Frequent code reviews can eliminate potentially hazardous bugs & issues at an early stage and help enforce best practices. Let us perform PR reviews & audits to ensure your code quality, performance, and security.
    </p>
  </div>
</div>

<h4 appAnchor id="first-hand-access"><span>First-hand access</span></h4>
<p>Direct communication channel will boost team velocity, giving a quick access to discuss and solve problems.</p>
<h4 appAnchor id="nestjs-workshops-and-trainings"><span>NestJS Workshops and Trainings</span></h4>
<p>We provide solid kick-off training as well as more advanced ones that give teams an in-depth understanding of NestJS. We offer on-site workshops and remote intensive sessions which help get you up and running <em>quickly</em> within the NestJS ecosystem.</p>
<div class="contact-us">
  <div class="column column-text">
    <h5>Contact us!</h5>
    <p>
    Let's talk how we can help you become successful with NestJS.
    </p> 
  </div>
   <div class="column column-action">
     <a href="mailto:support@nestjs.com">CONTACT US</a>
   </div>
</div>

<p>Reach out to us at <a href="mailto:support@nestjs.com">support@nestjs.com</a>, and let’s talk about your project &amp; teams needs!</p>

</div>

