
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/modules.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="modules">Modules</h3>
<p>A module is a class annotated with a <code>@Module()</code> decorator. The <code>@Module()</code> decorator provides metadata that <strong>Nest</strong> makes use of to organize the application structure.</p>
<figure><img class="illustrative-image" src="/assets/Modules_1.png" /></figure>

<p>Each application has at least one module, a <strong>root module</strong>. The root module is the starting point Nest uses to build the <strong>application graph</strong> - the internal data structure Nest uses to resolve module and provider relationships and dependencies. While very small applications may theoretically have just the root module, this is not the typical case. We want to emphasize that modules are <strong>strongly</strong> recommended as an effective way to organize your components. Thus, for most applications, the resulting architecture will employ multiple modules, each encapsulating a closely related set of <strong>capabilities</strong>.</p>
<p>The <code>@Module()</code> decorator takes a single object whose properties describe the module:</p>
<table>
<thead>
</thead>
<tbody><tr>
<td><code>providers</code></td>
<td>the providers that will be instantiated by the Nest injector and that may be shared at least across this module</td>
</tr>
<tr>
<td><code>controllers</code></td>
<td>the set of controllers defined in this module which have to be instantiated</td>
</tr>
<tr>
<td><code>imports</code></td>
<td>the list of imported modules that export the providers which are required in this module</td>
</tr>
<tr>
<td><code>exports</code></td>
<td>the subset of <code>providers</code> that are provided by this module and should be available in other modules which import this module. You can use either the provider itself or just its token (<code>provide</code> value)</td>
</tr>
</tbody></table>
<p>The module <strong>encapsulates</strong> providers by default. This means that it&#39;s impossible to inject providers that are neither directly part of the current module nor exported from the imported modules. Thus, you may consider the exported providers from a module as the module&#39;s public interface, or API.</p>
<h4 appAnchor id="feature-modules"><span>Feature modules</span></h4>
<p>The <code>CatsController</code> and <code>CatsService</code> belong to the same application domain. As they are closely related, it makes sense to move them into a feature module. A feature module simply organizes code relevant for a specific feature, keeping code organized and establishing clear boundaries. This helps us manage complexity and develop with <a rel='nofollow' target='_blank' href="https://en.wikipedia.org/wiki/SOLID">SOLID</a> principles, especially as the size of the application and/or team grow.</p>
<p>To demonstrate this, we&#39;ll create the <code>CatsModule</code>.</p>

<span class="filename">
  {{ 'cats/cats.module' | extension: appc8487c92bfc3323d97bf341a496505209fbd08cf.isJsActive }}
<app-tabs #appc8487c92bfc3323d97bf341a496505209fbd08cf></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
&#125;)
export class CatsModule &#123;&#125;
</code></pre><blockquote class="
info "><strong>Hint</strong> To create a module using the CLI, simply execute the <code>$ nest g module cats</code> command.
</blockquote>
<p>Above, we defined the <code>CatsModule</code> in the <code>cats.module.ts</code> file, and moved everything related to this module into the <code>cats</code> directory. The last thing we need to do is import this module into the root module (the <code>AppModule</code>, defined in the <code>app.module.ts</code> file).</p>

<span class="filename">
  {{ 'app.module' | extension: app083e60f4f611406eb71122ed5be0a99a690859f8.isJsActive }}
<app-tabs #app083e60f4f611406eb71122ed5be0a99a690859f8></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsModule &#125; from &#39;./cats/cats.module&#39;;

@Module(&#123;
  imports: [CatsModule],
&#125;)
export class AppModule &#123;&#125;
</code></pre><p>Here is how our directory structure looks now:</p>
<div class="file-tree">
  <div class="item">src</div>
  <div class="children">
    <div class="item">cats</div>
    <div class="children">
      <div class="item">dto</div>
      <div class="children">
        <div class="item">create-cat.dto.ts</div>
      </div>
      <div class="item">interfaces</div>
      <div class="children">
        <div class="item">cat.interface.ts</div>
      </div>
      <div class="item">cats.controller.ts</div>
      <div class="item">cats.module.ts</div>
      <div class="item">cats.service.ts</div>
    </div>
    <div class="item">app.module.ts</div>
    <div class="item">main.ts</div>
  </div>
</div>

<h4 appAnchor id="shared-modules"><span>Shared modules</span></h4>
<p>In Nest, modules are <strong>singletons</strong> by default, and thus you can share the same instance of any provider between multiple modules effortlessly.</p>
<figure><img class="illustrative-image" src="/assets/Shared_Module_1.png" /></figure>

<p>Every module is automatically a <strong>shared module</strong>. Once created it can be reused by any module. Let&#39;s imagine that we want to share an instance of the <code>CatsService</code> between several other modules. In order to do that, we first need to <strong>export</strong> the <code>CatsService</code> provider by adding it to the module&#39;s <code>exports</code> array, as shown below:</p>

<span class="filename">
  {{ 'cats.module' | extension: appa579755fc716c313625fcc47dd2de741844ed984.isJsActive }}
<app-tabs #appa579755fc716c313625fcc47dd2de741844ed984></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
  exports: [CatsService]
&#125;)
export class CatsModule &#123;&#125;
</code></pre><p>Now any module that imports the <code>CatsModule</code> has access to the <code>CatsService</code> and will share the same instance with all other modules that import it as well.</p>
<p><app-banner-devtools></app-banner-devtools></p>
<h4 appAnchor id="module-re-exporting"><span>Module re-exporting</span></h4>
<p>As seen above, Modules can export their internal providers. In addition, they can re-export modules that they import. In the example below, the <code>CommonModule</code> is both imported into <strong>and</strong> exported from the <code>CoreModule</code>, making it available for other modules which import this one.</p>
<pre><code class="language-typescript">
@Module(&#123;
  imports: [CommonModule],
  exports: [CommonModule],
&#125;)
export class CoreModule &#123;&#125;
</code></pre>
<h4 appAnchor id="dependency-injection"><span>Dependency injection</span></h4>
<p>A module class can <strong>inject</strong> providers as well (e.g., for configuration purposes):</p>

<span class="filename">
  {{ 'cats.module' | extension: app6869ced7da5f45d704aaef7a32b207203ea04147.isJsActive }}
<app-tabs #app6869ced7da5f45d704aaef7a32b207203ea04147></app-tabs>
</span><pre [class.hide]="app6869ced7da5f45d704aaef7a32b207203ea04147.isJsActive"><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
&#125;)
export class CatsModule &#123;
  constructor(private catsService: CatsService) &#123;&#125;
&#125;
</code></pre>
<pre [class.hide]="!app6869ced7da5f45d704aaef7a32b207203ea04147.isJsActive"><code class="language-typescript">
import &#123; Module, Dependencies &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
&#125;)
@Dependencies(CatsService)
export class CatsModule &#123;
  constructor(catsService) &#123;
    this.catsService = catsService;
  &#125;
&#125;
</code></pre><p>However, module classes themselves cannot be injected as providers due to <a routerLink="/fundamentals/circular-dependency">circular dependency</a> .</p>
<h4 appAnchor id="global-modules"><span>Global modules</span></h4>
<p>If you have to import the same set of modules everywhere, it can get tedious. Unlike in Nest, <a rel='nofollow' target='_blank' href="https://angular.dev">Angular</a> <code>providers</code> are registered in the global scope. Once defined, they&#39;re available everywhere. Nest, however, encapsulates providers inside the module scope. You aren&#39;t able to use a module&#39;s providers elsewhere without first importing the encapsulating module.</p>
<p>When you want to provide a set of providers which should be available everywhere out-of-the-box (e.g., helpers, database connections, etc.), make the module <strong>global</strong> with the <code>@Global()</code> decorator.</p>
<pre><code class="language-typescript">
import &#123; Module, Global &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Global()
@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
  exports: [CatsService],
&#125;)
export class CatsModule &#123;&#125;
</code></pre>
<p>The <code>@Global()</code> decorator makes the module global-scoped. Global modules should be registered <strong>only once</strong>, generally by the root or core module. In the above example, the <code>CatsService</code> provider will be ubiquitous, and modules that wish to inject the service will not need to import the <code>CatsModule</code> in their imports array.</p>
<blockquote class="
info "><strong>Hint</strong> Making everything global is not a good design decision. Global modules are available to reduce the amount of necessary boilerplate. The <code>imports</code> array is generally the preferred way to make the module&#39;s API available to consumers.
</blockquote>
<h4 appAnchor id="dynamic-modules"><span>Dynamic modules</span></h4>
<p>The Nest module system includes a powerful feature called <strong>dynamic modules</strong>. This feature enables you to easily create customizable modules that can register and configure providers dynamically. Dynamic modules are covered extensively <a routerLink="/fundamentals/dynamic-modules">here</a>. In this chapter, we&#39;ll give a brief overview to complete the introduction to modules.</p>
<p>Following is an example of a dynamic module definition for a <code>DatabaseModule</code>:</p>

<span class="filename">
<app-tabs #appe4028ea58969f4ed56df2b10af11dc1b45a08894></app-tabs>
</span><pre [class.hide]="appe4028ea58969f4ed56df2b10af11dc1b45a08894.isJsActive"><code class="language-typescript">
import &#123; Module, DynamicModule &#125; from &#39;@nestjs/common&#39;;
import &#123; createDatabaseProviders &#125; from &#39;./database.providers&#39;;
import &#123; Connection &#125; from &#39;./connection.provider&#39;;

@Module(&#123;
  providers: [Connection],
  exports: [Connection],
&#125;)
export class DatabaseModule &#123;
  static forRoot(entities = [], options?): DynamicModule &#123;
    const providers = createDatabaseProviders(options, entities);
    return &#123;
      module: DatabaseModule,
      providers: providers,
      exports: providers,
    &#125;;
  &#125;
&#125;
</code></pre>
<pre [class.hide]="!appe4028ea58969f4ed56df2b10af11dc1b45a08894.isJsActive"><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; createDatabaseProviders &#125; from &#39;./database.providers&#39;;
import &#123; Connection &#125; from &#39;./connection.provider&#39;;

@Module(&#123;
  providers: [Connection],
  exports: [Connection],
&#125;)
export class DatabaseModule &#123;
  static forRoot(entities = [], options) &#123;
    const providers = createDatabaseProviders(options, entities);
    return &#123;
      module: DatabaseModule,
      providers: providers,
      exports: providers,
    &#125;;
  &#125;
&#125;
</code></pre><blockquote class="
info "><strong>Hint</strong> The <code>forRoot()</code> method may return a dynamic module either synchronously or asynchronously (i.e., via a <code>Promise</code>).
</blockquote>
<p>This module defines the <code>Connection</code> provider by default (in the <code>@Module()</code> decorator metadata), but additionally - depending on the <code>entities</code> and <code>options</code> objects passed into the <code>forRoot()</code> method - exposes a collection of providers, for example, repositories. Note that the properties returned by the dynamic module <strong>extend</strong> (rather than override) the base module metadata defined in the <code>@Module()</code> decorator. That&#39;s how both the statically declared <code>Connection</code> provider <strong>and</strong> the dynamically generated repository providers are exported from the module.</p>
<p>If you want to register a dynamic module in the global scope, set the <code>global</code> property to <code>true</code>.</p>
<pre><code class="language-typescript">
&#123;
  global: true,
  module: DatabaseModule,
  providers: providers,
  exports: providers,
&#125;
</code></pre>
<blockquote class="
warning "><strong>Warning</strong> As mentioned above, making everything global <strong>is not a good design decision</strong>.
</blockquote>
<p>The <code>DatabaseModule</code> can be imported and configured in the following manner:</p>
<pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; DatabaseModule &#125; from &#39;./database/database.module&#39;;
import &#123; User &#125; from &#39;./users/entities/user.entity&#39;;

@Module(&#123;
  imports: [DatabaseModule.forRoot([User])],
&#125;)
export class AppModule &#123;&#125;
</code></pre>
<p>If you want to in turn re-export a dynamic module, you can omit the <code>forRoot()</code> method call in the exports array:</p>
<pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; DatabaseModule &#125; from &#39;./database/database.module&#39;;
import &#123; User &#125; from &#39;./users/entities/user.entity&#39;;

@Module(&#123;
  imports: [DatabaseModule.forRoot([User])],
  exports: [DatabaseModule],
&#125;)
export class AppModule &#123;&#125;
</code></pre>
<p>The <a routerLink="/fundamentals/dynamic-modules">Dynamic modules</a> chapter covers this topic in greater detail, and includes a <a rel='nofollow' target='_blank' href="https://github.com/nestjs/nest/tree/master/sample/25-dynamic-modules">working example</a>.</p>
<blockquote class="
info "><strong>Hint</strong> Learn how to build highly customizable dynamic modules with the use of <code>ConfigurableModuleBuilder</code> here in <a href="/fundamentals/dynamic-modules#configurable-module-builder">this chapter</a>.
</blockquote>

</div>

