
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/openapi/decorators.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="decorators">Decorators</h3>
<p>All of the available OpenAPI decorators have an <code>Api</code> prefix to distinguish them from the core decorators. Below is a full list of the exported decorators along with a designation of the level at which the decorator may be applied.</p>
<table>
<thead>
</thead>
<tbody><tr>
<td><code>@ApiBasicAuth()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiBearerAuth()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiBody()</code></td>
<td>Method</td>
</tr>
<tr>
<td><code>@ApiConsumes()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiCookieAuth()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiExcludeController()</code></td>
<td>Controller</td>
</tr>
<tr>
<td><code>@ApiExcludeEndpoint()</code></td>
<td>Method</td>
</tr>
<tr>
<td><code>@ApiExtension()</code></td>
<td>Method</td>
</tr>
<tr>
<td><code>@ApiExtraModels()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiHeader()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiHideProperty()</code></td>
<td>Model</td>
</tr>
<tr>
<td><code>@ApiOAuth2()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiOperation()</code></td>
<td>Method</td>
</tr>
<tr>
<td><code>@ApiParam()</code></td>
<td>Method</td>
</tr>
<tr>
<td><code>@ApiProduces()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiProperty()</code></td>
<td>Model</td>
</tr>
<tr>
<td><code>@ApiPropertyOptional()</code></td>
<td>Model</td>
</tr>
<tr>
<td><code>@ApiQuery()</code></td>
<td>Method</td>
</tr>
<tr>
<td><code>@ApiResponse()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiSecurity()</code></td>
<td>Method / Controller</td>
</tr>
<tr>
<td><code>@ApiTags()</code></td>
<td>Method / Controller</td>
</tr>
</tbody></table>

</div>

