
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/introduction.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="introduction">Introduction</h3>
<p>Nest (NestJS) is a framework for building efficient, scalable <a rel='nofollow' target='_blank' href="https://nodejs.org/">Node.js</a> server-side applications. It uses progressive JavaScript, is built with and fully supports <a rel='nofollow' target='_blank' href="http://www.typescriptlang.org/">TypeScript</a> (yet still enables developers to code in pure JavaScript) and combines elements of OOP (Object Oriented Programming), FP (Functional Programming), and FRP (Functional Reactive Programming).</p>
<p>Under the hood, Nest makes use of robust HTTP Server frameworks like <a rel='nofollow' target='_blank' href="https://expressjs.com/">Express</a> (the default) and optionally can be configured to use <a rel='nofollow' target='_blank' href="https://github.com/fastify/fastify">Fastify</a> as well!</p>
<p>Nest provides a level of abstraction above these common Node.js frameworks (Express/Fastify), but also exposes their APIs directly to the developer. This gives developers the freedom to use the myriad of third-party modules which are available for the underlying platform.</p>
<h4 appAnchor id="philosophy"><span>Philosophy</span></h4>
<p>In recent years, thanks to Node.js, JavaScript has become the “lingua franca” of the web for both front and backend applications. This has given rise to awesome projects like <a rel='nofollow' target='_blank' href="https://angular.dev/">Angular</a>, <a rel='nofollow' target='_blank' href="https://github.com/facebook/react">React</a> and <a rel='nofollow' target='_blank' href="https://github.com/vuejs/vue">Vue</a>, which improve developer productivity and enable the creation of fast, testable, and extensible frontend applications. However, while plenty of superb libraries, helpers, and tools exist for Node (and server-side JavaScript), none of them effectively solve the main problem of - <strong>Architecture</strong>.</p>
<p>Nest provides an out-of-the-box application architecture which allows developers and teams to create highly testable, scalable, loosely coupled, and easily maintainable applications. The architecture is heavily inspired by Angular.</p>
<h4 appAnchor id="installation"><span>Installation</span></h4>
<p>To get started, you can either scaffold the project with the <a routerLink="/cli/overview">Nest CLI</a>, or clone a starter project (both will produce the same outcome).</p>
<p>To scaffold the project with the Nest CLI, run the following commands. This will create a new project directory, and populate the directory with the initial core Nest files and supporting modules, creating a conventional base structure for your project. Creating a new project with the <strong>Nest CLI</strong> is recommended for first-time users. We&#39;ll continue with this approach in <a routerLink="first-steps">First Steps</a>.</p>
<pre><code class="language-bash">
$ npm i -g @nestjs/cli
$ nest new project-name
</code></pre>
<blockquote class="
info "><strong>Hint</strong> To create a new TypeScript project with stricter feature set, pass the <code>--strict</code> flag to the <code>nest new</code> command.
</blockquote>
<h4 appAnchor id="alternatives"><span>Alternatives</span></h4>
<p>Alternatively, to install the TypeScript starter project with <strong>Git</strong>:</p>
<pre><code class="language-bash">
$ git clone https://github.com/nestjs/typescript-starter.git project
$ cd project
$ npm install
$ npm run start
</code></pre>
<blockquote class="
info "><strong>Hint</strong> If you&#39;d like to clone the repository without the git history, you can use <a rel='nofollow' target='_blank' href="https://github.com/Rich-Harris/degit">degit</a>.
</blockquote>
<p>Open your browser and navigate to <a rel='nofollow' target='_blank' href="http://localhost:3000/"><code>http://localhost:3000/</code></a>.</p>
<p>To install the JavaScript flavor of the starter project, use <code>javascript-starter.git</code> in the command sequence above.</p>
<p>You can also manually create a new project from scratch by installing the core and supporting files with <strong>npm</strong> (or <strong>yarn</strong>). In this case, of course, you&#39;ll be responsible for creating the project boilerplate files yourself.</p>
<pre><code class="language-bash">
$ npm i --save @nestjs/core @nestjs/common rxjs reflect-metadata
</code></pre>

</div>

