
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/controllers.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="controllers">Controllers</h3>
<p>Controllers are responsible for handling incoming <strong>requests</strong> and returning <strong>responses</strong> to the client.</p>
<figure><img class="illustrative-image" src="/assets/Controllers_1.png" /></figure>

<p>A controller&#39;s purpose is to receive specific requests for the application. The <strong>routing</strong> mechanism controls which controller receives which requests. Frequently, each controller has more than one route, and different routes can perform different actions.</p>
<p>In order to create a basic controller, we use classes and <strong>decorators</strong>. Decorators associate classes with required metadata and enable Nest to create a routing map (tie requests to the corresponding controllers).</p>
<blockquote class="
info "><strong>Hint</strong> For quickly creating a CRUD controller with the <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/techniques/validation">validation</a> built-in, you may use the CLI&#39;s <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/recipes/crud-generator#crud-generator">CRUD generator</a>: <code>nest g resource [name]</code>.
</blockquote>
<h4 appAnchor id="routing"><span>Routing</span></h4>
<p>In the following example we&#39;ll use the <code>@Controller()</code> decorator, which is <strong>required</strong> to define a basic controller. We&#39;ll specify an optional route path prefix of <code>cats</code>. Using a path prefix in a <code>@Controller()</code> decorator allows us to easily group a set of related routes, and minimize repetitive code. For example, we may choose to group a set of routes that manage interactions with a cat entity under the route <code>/cats</code>. In that case, we could specify the path prefix <code>cats</code> in the <code>@Controller()</code> decorator so that we don&#39;t have to repeat that portion of the path for each route in the file.</p>

<span class="filename">
  {{ 'cats.controller' | extension: app2a178b236bc6eb8f3871f1dadfbea4a1456688e8.isJsActive }}
<app-tabs #app2a178b236bc6eb8f3871f1dadfbea4a1456688e8></app-tabs>
</span><pre [class.hide]="app2a178b236bc6eb8f3871f1dadfbea4a1456688e8.isJsActive"><code class="language-typescript">
import &#123; Controller, Get &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Get()
  findAll(): string &#123;
    return &#39;This action returns all cats&#39;;
  &#125;
&#125;
</code></pre>
<pre [class.hide]="!app2a178b236bc6eb8f3871f1dadfbea4a1456688e8.isJsActive"><code class="language-typescript">
import &#123; Controller, Get &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Get()
  findAll() &#123;
    return &#39;This action returns all cats&#39;;
  &#125;
&#125;
</code></pre><blockquote class="
info "><strong>Hint</strong> To create a controller using the CLI, simply execute the <code>$ nest g controller [name]</code> command.
</blockquote>
<p>The <code>@Get()</code> HTTP request method decorator before the <code>findAll()</code> method tells Nest to create a handler for a specific endpoint for HTTP requests. The endpoint corresponds to the HTTP request method (GET in this case) and the route path. What is the route path? The route path for a handler is determined by concatenating the (optional) prefix declared for the controller, and any path specified in the method&#39;s decorator. Since we&#39;ve declared a prefix for every route ( <code>cats</code>), and haven&#39;t added any path information in the decorator, Nest will map <code>GET /cats</code> requests to this handler. As mentioned, the path includes both the optional controller path prefix <strong>and</strong> any path string declared in the request method decorator. For example, a path prefix of <code>cats</code> combined with the decorator <code>@Get(&#39;breed&#39;)</code> would produce a route mapping for requests like <code>GET /cats/breed</code>.</p>
<p>In our example above, when a GET request is made to this endpoint, Nest routes the request to our user-defined <code>findAll()</code> method. Note that the method name we choose here is completely arbitrary. We obviously must declare a method to bind the route to, but Nest doesn&#39;t attach any significance to the method name chosen.</p>
<p>This method will return a 200 status code and the associated response, which in this case is just a string. Why does that happen? To explain, we&#39;ll first introduce the concept that Nest employs two <strong>different</strong> options for manipulating responses:</p>
<table>
  <tr>
    <td>Standard (recommended)</td>
    <td>
      Using this built-in method, when a request handler returns a JavaScript object or array, it will <strong>automatically</strong>
      be serialized to JSON. When it returns a JavaScript primitive type (e.g., <code>string</code>, <code>number</code>, <code>boolean</code>), however, Nest will send just the value without attempting to serialize it. This makes response handling simple: just return the value, and Nest takes care of the rest.
      <br />
      <br /> Furthermore, the response's <strong>status code</strong> is always 200 by default, except for POST
      requests which use 201. We can easily change this behavior by adding the <code>@HttpCode(...)</code>
      decorator at a handler-level (see <a href='controllers#status-code'>Status codes</a>).
    </td>
  </tr>
  <tr>
    <td>Library-specific</td>
    <td>
      We can use the library-specific (e.g., Express) <a href="https://expressjs.com/en/api.html#res" rel="nofollow" target="_blank">response object</a>, which can be injected using the <code>@Res()</code> decorator in the method handler signature (e.g., <code>findAll(@Res() response)</code>).  With this approach, you have the ability to use the native response handling methods exposed by that object.  For example, with Express, you can construct responses using code like <code>response.status(200).send()</code>.
    </td>
  </tr>
</table>

<blockquote class="
warning "><strong>Warning</strong> Nest detects when the handler is using either <code>@Res()</code> or <code>@Next()</code>, indicating you have chosen the library-specific option. If both approaches are used at the same time, the Standard approach is <strong>automatically disabled</strong> for this single route and will no longer work as expected. To use both approaches at the same time (for example, by injecting the response object to only set cookies/headers but still leave the rest to the framework), you must set the <code>passthrough</code> option to <code>true</code> in the <code>@Res({{ &#39;{&#39; }} passthrough: true {{ &#39;}&#39; }})</code> decorator.
</blockquote>
<p><app-banner-devtools></app-banner-devtools></p>
<h4 appAnchor id="request-object"><span>Request object</span></h4>
<p>Handlers often need access to the client <strong>request</strong> details. Nest provides access to the <a rel='nofollow' target='_blank' href="https://expressjs.com/en/api.html#req">request object</a> of the underlying platform (Express by default). We can access the request object by instructing Nest to inject it by adding the <code>@Req()</code> decorator to the handler&#39;s signature.</p>

<span class="filename">
  {{ 'cats.controller' | extension: appe7498617c41d7a0cf3e4443e8297c64c3f99efcc.isJsActive }}
<app-tabs #appe7498617c41d7a0cf3e4443e8297c64c3f99efcc></app-tabs>
</span><pre [class.hide]="appe7498617c41d7a0cf3e4443e8297c64c3f99efcc.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Req &#125; from &#39;@nestjs/common&#39;;
import &#123; Request &#125; from &#39;express&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Get()
  findAll(@Req() request: Request): string &#123;
    return &#39;This action returns all cats&#39;;
  &#125;
&#125;
</code></pre>
<pre [class.hide]="!appe7498617c41d7a0cf3e4443e8297c64c3f99efcc.isJsActive"><code class="language-typescript">
import &#123; Controller, Bind, Get, Req &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Get()
  @Bind(Req())
  findAll(request) &#123;
    return &#39;This action returns all cats&#39;;
  &#125;
&#125;
</code></pre><blockquote class="
info "><strong>Hint</strong> In order to take advantage of <code>express</code> typings (as in the <code>request: Request</code> parameter example above), install <code>@types/express</code> package.
</blockquote>
<p>The request object represents the HTTP request and has properties for the request query string, parameters, HTTP headers, and body (read more <a rel='nofollow' target='_blank' href="https://expressjs.com/en/api.html#req">here</a>). In most cases, it&#39;s not necessary to grab these properties manually. We can use dedicated decorators instead, such as <code>@Body()</code> or <code>@Query()</code>, which are available out of the box. Below is a list of the provided decorators and the plain platform-specific objects they represent.</p>
<table>
  <tbody>
    <tr>
      <td><code>@Request(), @Req()</code></td>
      <td><code>req</code></td></tr>
    <tr>
      <td><code>@Response(), @Res()</code><span class="table-code-asterisk">*</span></td>
      <td><code>res</code></td>
    </tr>
    <tr>
      <td><code>@Next()</code></td>
      <td><code>next</code></td>
    </tr>
    <tr>
      <td><code>@Session()</code></td>
      <td><code>req.session</code></td>
    </tr>
    <tr>
      <td><code>@Param(key?: string)</code></td>
      <td><code>req.params</code> / <code>req.params[key]</code></td>
    </tr>
    <tr>
      <td><code>@Body(key?: string)</code></td>
      <td><code>req.body</code> / <code>req.body[key]</code></td>
    </tr>
    <tr>
      <td><code>@Query(key?: string)</code></td>
      <td><code>req.query</code> / <code>req.query[key]</code></td>
    </tr>
    <tr>
      <td><code>@Headers(name?: string)</code></td>
      <td><code>req.headers</code> / <code>req.headers[name]</code></td>
    </tr>
    <tr>
      <td><code>@Ip()</code></td>
      <td><code>req.ip</code></td>
    </tr>
    <tr>
      <td><code>@HostParam()</code></td>
      <td><code>req.hosts</code></td>
    </tr>
  </tbody>
</table>

<p><sup>* </sup>For compatibility with typings across underlying HTTP platforms (e.g., Express and Fastify), Nest provides <code>@Res()</code> and <code>@Response()</code> decorators. <code>@Res()</code> is simply an alias for <code>@Response()</code>. Both directly expose the underlying native platform <code>response</code> object interface. When using them, you should also import the typings for the underlying library (e.g., <code>@types/express</code>) to take full advantage. Note that when you inject either <code>@Res()</code> or <code>@Response()</code> in a method handler, you put Nest into <strong>Library-specific mode</strong> for that handler, and you become responsible for managing the response. When doing so, you must issue some kind of response by making a call on the <code>response</code> object (e.g., <code>res.json(...)</code> or <code>res.send(...)</code>), or the HTTP server will hang.</p>
<blockquote class="
info "><strong>Hint</strong> To learn how to create your own custom decorators, visit <a routerLink="/custom-decorators">this</a> chapter.
</blockquote>
<h4 appAnchor id="resources"><span>Resources</span></h4>
<p>Earlier, we defined an endpoint to fetch the cats resource (<strong>GET</strong> route). We&#39;ll typically also want to provide an endpoint that creates new records. For this, let&#39;s create the <strong>POST</strong> handler:</p>

<span class="filename">
  {{ 'cats.controller' | extension: app892505b646e1f973a90a8eed3638c1b0d7daf088.isJsActive }}
<app-tabs #app892505b646e1f973a90a8eed3638c1b0d7daf088></app-tabs>
</span><pre [class.hide]="app892505b646e1f973a90a8eed3638c1b0d7daf088.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Post &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Post()
  create(): string &#123;
    return &#39;This action adds a new cat&#39;;
  &#125;

  @Get()
  findAll(): string &#123;
    return &#39;This action returns all cats&#39;;
  &#125;
&#125;
</code></pre>
<pre [class.hide]="!app892505b646e1f973a90a8eed3638c1b0d7daf088.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Post &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Post()
  create() &#123;
    return &#39;This action adds a new cat&#39;;
  &#125;

  @Get()
  findAll() &#123;
    return &#39;This action returns all cats&#39;;
  &#125;
&#125;
</code></pre><p>It&#39;s that simple. Nest provides decorators for all of the standard HTTP methods: <code>@Get()</code>, <code>@Post()</code>, <code>@Put()</code>, <code>@Delete()</code>, <code>@Patch()</code>, <code>@Options()</code>, and <code>@Head()</code>. In addition, <code>@All()</code> defines an endpoint that handles all of them.</p>
<h4 appAnchor id="route-wildcards"><span>Route wildcards</span></h4>
<p>Pattern based routes are supported as well. For instance, the asterisk is used as a wildcard, and will match any combination of characters.</p>
<pre><code class="language-typescript">
@Get(&#39;ab*cd&#39;)
findAll() &#123;
  return &#39;This route uses a wildcard&#39;;
&#125;
</code></pre>
<p>The <code>&#39;ab*cd&#39;</code> route path will match <code>abcd</code>, <code>ab_cd</code>, <code>abecd</code>, and so on. The characters <code>?</code>, <code>+</code>, <code>*</code>, and <code>()</code> may be used in a route path, and are subsets of their regular expression counterparts. The hyphen ( <code>-</code>) and the dot (<code>.</code>) are interpreted literally by string-based paths.</p>
<blockquote class="
warning "><strong>Warning</strong> A wildcard in the middle of the route is only supported by express.
</blockquote>
<h4 appAnchor id="status-code"><span>Status code</span></h4>
<p>As mentioned, the response <strong>status code</strong> is always <strong>200</strong> by default, except for POST requests which are <strong>201</strong>. We can easily change this behavior by adding the <code>@HttpCode(...)</code> decorator at a handler level.</p>
<pre><code class="language-typescript">
@Post()
@HttpCode(204)
create() &#123;
  return &#39;This action adds a new cat&#39;;
&#125;
</code></pre>
<blockquote class="
info "><strong>Hint</strong> Import <code>HttpCode</code> from the <code>@nestjs/common</code> package.
</blockquote>
<p>Often, your status code isn&#39;t static but depends on various factors. In that case, you can use a library-specific <strong>response</strong> (inject using <code>@Res()</code>) object (or, in case of an error, throw an exception).</p>
<h4 appAnchor id="headers"><span>Headers</span></h4>
<p>To specify a custom response header, you can either use a <code>@Header()</code> decorator or a library-specific response object (and call <code>res.header()</code> directly).</p>
<pre><code class="language-typescript">
@Post()
@Header(&#39;Cache-Control&#39;, &#39;none&#39;)
create() &#123;
  return &#39;This action adds a new cat&#39;;
&#125;
</code></pre>
<blockquote class="
info "><strong>Hint</strong> Import <code>Header</code> from the <code>@nestjs/common</code> package.
</blockquote>
<h4 appAnchor id="redirection"><span>Redirection</span></h4>
<p>To redirect a response to a specific URL, you can either use a <code>@Redirect()</code> decorator or a library-specific response object (and call <code>res.redirect()</code> directly).</p>
<p><code>@Redirect()</code> takes two arguments, <code>url</code> and <code>statusCode</code>, both are optional. The default value of <code>statusCode</code> is <code>302</code> (<code>Found</code>) if omitted.</p>
<pre><code class="language-typescript">
@Get()
@Redirect(&#39;https://nestjs.com&#39;, 301)
</code></pre>
<blockquote class="
info "><strong>Hint</strong> Sometimes you may want to determine the HTTP status code or the redirect URL dynamically. Do this by returning an object following the <code>HttpRedirectResponse</code> interface (from <code>@nestjs/common</code>).
</blockquote>
<p>Returned values will override any arguments passed to the <code>@Redirect()</code> decorator. For example:</p>
<pre><code class="language-typescript">
@Get(&#39;docs&#39;)
@Redirect(&#39;https://docs.nestjs.com&#39;, 302)
getDocs(@Query(&#39;version&#39;) version) &#123;
  if (version &amp;&amp; version === &#39;5&#39;) &#123;
    return &#123; url: &#39;https://docs.nestjs.com/v5/&#39; &#125;;
  &#125;
&#125;
</code></pre>
<h4 appAnchor id="route-parameters"><span>Route parameters</span></h4>
<p>Routes with static paths won&#39;t work when you need to accept <strong>dynamic data</strong> as part of the request (e.g., <code>GET /cats/1</code> to get cat with id <code>1</code>). In order to define routes with parameters, we can add route parameter <strong>tokens</strong> in the path of the route to capture the dynamic value at that position in the request URL. The route parameter token in the <code>@Get()</code> decorator example below demonstrates this usage. Route parameters declared in this way can be accessed using the <code>@Param()</code> decorator, which should be added to the method signature.</p>
<blockquote class="
info "><strong>Hint</strong> Routes with parameters should be declared after any static paths. This prevents the parameterized paths from intercepting traffic destined for the static paths.
</blockquote>

<span class="filename">
<app-tabs #app62dd2eb5a4d0bfeb62223e5839c1355cbc8bd98e></app-tabs>
</span><pre [class.hide]="app62dd2eb5a4d0bfeb62223e5839c1355cbc8bd98e.isJsActive"><code class="language-typescript">
@Get(&#39;:id&#39;)
findOne(@Param() params: any): string &#123;
  console.log(params.id);
  return `This action returns a #$&#123;params.id&#125; cat`;
&#125;
</code></pre>
<pre [class.hide]="!app62dd2eb5a4d0bfeb62223e5839c1355cbc8bd98e.isJsActive"><code class="language-typescript">
@Get(&#39;:id&#39;)
@Bind(Param())
findOne(params) &#123;
  console.log(params.id);
  return `This action returns a #$&#123;params.id&#125; cat`;
&#125;
</code></pre><p><code>@Param()</code> is used to decorate a method parameter (<code>params</code> in the example above), and makes the <strong>route</strong> parameters available as properties of that decorated method parameter inside the body of the method. As seen in the code above, we can access the <code>id</code> parameter by referencing <code>params.id</code>. You can also pass in a particular parameter token to the decorator, and then reference the route parameter directly by name in the method body.</p>
<blockquote class="
info "><strong>Hint</strong> Import <code>Param</code> from the <code>@nestjs/common</code> package.
</blockquote>

<span class="filename">
<app-tabs #app280515e23098753bf91718bfa80b429c94a97ed5></app-tabs>
</span><pre [class.hide]="app280515e23098753bf91718bfa80b429c94a97ed5.isJsActive"><code class="language-typescript">
@Get(&#39;:id&#39;)
findOne(@Param(&#39;id&#39;) id: string): string &#123;
  return `This action returns a #$&#123;id&#125; cat`;
&#125;
</code></pre>
<pre [class.hide]="!app280515e23098753bf91718bfa80b429c94a97ed5.isJsActive"><code class="language-typescript">
@Get(&#39;:id&#39;)
@Bind(Param(&#39;id&#39;))
findOne(id) &#123;
  return `This action returns a #$&#123;id&#125; cat`;
&#125;
</code></pre><h4 appAnchor id="sub-domain-routing"><span>Sub-Domain Routing</span></h4>
<p>The <code>@Controller</code> decorator can take a <code>host</code> option to require that the HTTP host of the incoming requests matches some specific value.</p>
<pre><code class="language-typescript">
@Controller(&#123; host: &#39;admin.example.com&#39; &#125;)
export class AdminController &#123;
  @Get()
  index(): string &#123;
    return &#39;Admin page&#39;;
  &#125;
&#125;
</code></pre>
<blockquote class="
"><strong>Warning</strong> Since <strong>Fastify</strong> lacks support for nested routers, when using sub-domain routing, the (default) Express adapter should be used instead.
</blockquote>
<p>Similar to a route <code>path</code>, the <code>hosts</code> option can use tokens to capture the dynamic value at that position in the host name. The host parameter token in the <code>@Controller()</code> decorator example below demonstrates this usage. Host parameters declared in this way can be accessed using the <code>@HostParam()</code> decorator, which should be added to the method signature.</p>
<pre><code class="language-typescript">
@Controller(&#123; host: &#39;:account.example.com&#39; &#125;)
export class AccountController &#123;
  @Get()
  getInfo(@HostParam(&#39;account&#39;) account: string) &#123;
    return account;
  &#125;
&#125;
</code></pre>
<h4 appAnchor id="scopes"><span>Scopes</span></h4>
<p>For people coming from different programming language backgrounds, it might be unexpected to learn that in Nest, almost everything is shared across incoming requests. We have a connection pool to the database, singleton services with global state, etc. Remember that Node.js doesn&#39;t follow the request/response Multi-Threaded Stateless Model in which every request is processed by a separate thread. Hence, using singleton instances is fully <strong>safe</strong> for our applications.</p>
<p>However, there are edge-cases when request-based lifetime of the controller may be the desired behavior, for instance per-request caching in GraphQL applications, request tracking or multi-tenancy. Learn how to control scopes <a routerLink="/fundamentals/injection-scopes">here</a>.</p>
<h4 appAnchor id="asynchronicity"><span>Asynchronicity</span></h4>
<p>We love modern JavaScript and we know that data extraction is mostly <strong>asynchronous</strong>. That&#39;s why Nest supports and works well with <code>async</code> functions.</p>
<blockquote class="
info "><strong>Hint</strong> Learn more about <code>async / await</code> feature <a rel='nofollow' target='_blank' href="https://kamilmysliwiec.com/typescript-2-1-introduction-async-await">here</a>
</blockquote>
<p>Every async function has to return a <code>Promise</code>. This means that you can return a deferred value that Nest will be able to resolve by itself. Let&#39;s see an example of this:</p>

<span class="filename">
  {{ 'cats.controller' | extension: app19448a8cdbe2ea519ded6c1a72d0cb96682dff2c.isJsActive }}
<app-tabs #app19448a8cdbe2ea519ded6c1a72d0cb96682dff2c></app-tabs>
</span><pre [class.hide]="app19448a8cdbe2ea519ded6c1a72d0cb96682dff2c.isJsActive"><code class="language-typescript">
@Get()
async findAll(): Promise&lt;any[]&gt; &#123;
  return [];
&#125;
</code></pre>
<pre [class.hide]="!app19448a8cdbe2ea519ded6c1a72d0cb96682dff2c.isJsActive"><code class="language-typescript">
@Get()
async findAll() &#123;
  return [];
&#125;
</code></pre><p>The above code is fully valid. Furthermore, Nest route handlers are even more powerful by being able to return RxJS <a rel='nofollow' target='_blank' href="https://rxjs-dev.firebaseapp.com/guide/observable">observable streams</a>. Nest will automatically subscribe to the source underneath and take the last emitted value (once the stream is completed).</p>

<span class="filename">
  {{ 'cats.controller' | extension: appc5ec6fa65f46390db40a8b931d713126ffe18ddc.isJsActive }}
<app-tabs #appc5ec6fa65f46390db40a8b931d713126ffe18ddc></app-tabs>
</span><pre [class.hide]="appc5ec6fa65f46390db40a8b931d713126ffe18ddc.isJsActive"><code class="language-typescript">
@Get()
findAll(): Observable&lt;any[]&gt; &#123;
  return of([]);
&#125;
</code></pre>
<pre [class.hide]="!appc5ec6fa65f46390db40a8b931d713126ffe18ddc.isJsActive"><code class="language-typescript">
@Get()
findAll() &#123;
  return of([]);
&#125;
</code></pre><p>Both of the above approaches work and you can use whatever fits your requirements.</p>
<h4 appAnchor id="request-payloads"><span>Request payloads</span></h4>
<p>Our previous example of the POST route handler didn&#39;t accept any client params. Let&#39;s fix this by adding the <code>@Body()</code> decorator here.</p>
<p>But first (if you use TypeScript), we need to determine the <strong>DTO</strong> (Data Transfer Object) schema. A DTO is an object that defines how the data will be sent over the network. We could determine the DTO schema by using <strong>TypeScript</strong> interfaces, or by simple classes. Interestingly, we recommend using <strong>classes</strong> here. Why? Classes are part of the JavaScript ES6 standard, and therefore they are preserved as real entities in the compiled JavaScript. On the other hand, since TypeScript interfaces are removed during the transpilation, Nest can&#39;t refer to them at runtime. This is important because features such as <strong>Pipes</strong> enable additional possibilities when they have access to the metatype of the variable at runtime.</p>
<p>Let&#39;s create the <code>CreateCatDto</code> class:</p>

<span class="filename">
  {{ 'create-cat.dto' | extension: app3072b6888ab68c9c3da8611022342794b3cce66d.isJsActive }}
<app-tabs #app3072b6888ab68c9c3da8611022342794b3cce66d></app-tabs>
</span><pre><code class="language-typescript">
export class CreateCatDto &#123;
  name: string;
  age: number;
  breed: string;
&#125;
</code></pre><p>It has only three basic properties. Thereafter we can use the newly created DTO inside the <code>CatsController</code>:</p>

<span class="filename">
  {{ 'cats.controller' | extension: appbfde0559c7e42791a25ce54d684242b697472099.isJsActive }}
<app-tabs #appbfde0559c7e42791a25ce54d684242b697472099></app-tabs>
</span><pre [class.hide]="appbfde0559c7e42791a25ce54d684242b697472099.isJsActive"><code class="language-typescript">
@Post()
async create(@Body() createCatDto: CreateCatDto) &#123;
  return &#39;This action adds a new cat&#39;;
&#125;
</code></pre>
<pre [class.hide]="!appbfde0559c7e42791a25ce54d684242b697472099.isJsActive"><code class="language-typescript">
@Post()
@Bind(Body())
async create(createCatDto) &#123;
  return &#39;This action adds a new cat&#39;;
&#125;
</code></pre><blockquote class="
info "><strong>Hint</strong> Our <code>ValidationPipe</code> can filter out properties that should not be received by the method handler. In this case, we can whitelist the acceptable properties, and any property not included in the whitelist is automatically stripped from the resulting object. In the <code>CreateCatDto</code> example, our whitelist is the <code>name</code>, <code>age</code>, and <code>breed</code> properties. Learn more <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/techniques/validation#stripping-properties">here</a>.
</blockquote>
<h4 appAnchor id="handling-errors"><span>Handling errors</span></h4>
<p>There&#39;s a separate chapter about handling errors (i.e., working with exceptions) <a routerLink="/exception-filters">here</a>.</p>
<h4 appAnchor id="full-resource-sample"><span>Full resource sample</span></h4>
<p>Below is an example that makes use of several of the available decorators to create a basic controller. This controller exposes a couple of methods to access and manipulate internal data.</p>

<span class="filename">
  {{ 'cats.controller' | extension: app985c04c8d9ddabfbbff392c3b1ed719d1223845c.isJsActive }}
<app-tabs #app985c04c8d9ddabfbbff392c3b1ed719d1223845c></app-tabs>
</span><pre [class.hide]="app985c04c8d9ddabfbbff392c3b1ed719d1223845c.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Query, Post, Body, Put, Param, Delete &#125; from &#39;@nestjs/common&#39;;
import &#123; CreateCatDto, UpdateCatDto, ListAllEntities &#125; from &#39;./dto&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Post()
  create(@Body() createCatDto: CreateCatDto) &#123;
    return &#39;This action adds a new cat&#39;;
  &#125;

  @Get()
  findAll(@Query() query: ListAllEntities) &#123;
    return `This action returns all cats (limit: $&#123;query.limit&#125; items)`;
  &#125;

  @Get(&#39;:id&#39;)
  findOne(@Param(&#39;id&#39;) id: string) &#123;
    return `This action returns a #$&#123;id&#125; cat`;
  &#125;

  @Put(&#39;:id&#39;)
  update(@Param(&#39;id&#39;) id: string, @Body() updateCatDto: UpdateCatDto) &#123;
    return `This action updates a #$&#123;id&#125; cat`;
  &#125;

  @Delete(&#39;:id&#39;)
  remove(@Param(&#39;id&#39;) id: string) &#123;
    return `This action removes a #$&#123;id&#125; cat`;
  &#125;
&#125;
</code></pre>
<pre [class.hide]="!app985c04c8d9ddabfbbff392c3b1ed719d1223845c.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Query, Post, Body, Put, Param, Delete, Bind &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Post()
  @Bind(Body())
  create(createCatDto) &#123;
    return &#39;This action adds a new cat&#39;;
  &#125;

  @Get()
  @Bind(Query())
  findAll(query) &#123;
    console.log(query);
    return `This action returns all cats (limit: $&#123;query.limit&#125; items)`;
  &#125;

  @Get(&#39;:id&#39;)
  @Bind(Param(&#39;id&#39;))
  findOne(id) &#123;
    return `This action returns a #$&#123;id&#125; cat`;
  &#125;

  @Put(&#39;:id&#39;)
  @Bind(Param(&#39;id&#39;), Body())
  update(id, updateCatDto) &#123;
    return `This action updates a #$&#123;id&#125; cat`;
  &#125;

  @Delete(&#39;:id&#39;)
  @Bind(Param(&#39;id&#39;))
  remove(id) &#123;
    return `This action removes a #$&#123;id&#125; cat`;
  &#125;
&#125;
</code></pre><blockquote class="
info "><strong>Hint</strong> Nest CLI provides a generator (schematic) that automatically generates <strong>all the boilerplate code</strong> to help us avoid doing all of this, and make the developer experience much simpler. Read more about this feature <a routerLink="/recipes/crud-generator">here</a>.
</blockquote>
<h4 appAnchor id="getting-up-and-running"><span>Getting up and running</span></h4>
<p>With the above controller fully defined, Nest still doesn&#39;t know that <code>CatsController</code> exists and as a result won&#39;t create an instance of this class.</p>
<p>Controllers always belong to a module, which is why we include the <code>controllers</code> array within the <code>@Module()</code> decorator. Since we haven&#39;t yet defined any other modules except the root <code>AppModule</code>, we&#39;ll use that to introduce the <code>CatsController</code>:</p>

<span class="filename">
  {{ 'app.module' | extension: app2517a2eea76ddb2fa35b0790133c49d830ecb499.isJsActive }}
<app-tabs #app2517a2eea76ddb2fa35b0790133c49d830ecb499></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats/cats.controller&#39;;

@Module(&#123;
  controllers: [CatsController],
&#125;)
export class AppModule &#123;&#125;
</code></pre><p>We attached the metadata to the module class using the <code>@Module()</code> decorator, and Nest can now easily reflect which controllers have to be mounted.</p>
<h4 appAnchor id="library-specific-approach"><span>Library-specific approach</span></h4>
<p>So far we&#39;ve discussed the Nest standard way of manipulating responses. The second way of manipulating the response is to use a library-specific <a rel='nofollow' target='_blank' href="https://expressjs.com/en/api.html#res">response object</a>. In order to inject a particular response object, we need to use the <code>@Res()</code> decorator. To show the differences, let&#39;s rewrite the <code>CatsController</code> to the following:</p>

<span class="filename">
<app-tabs #app72c89852787d9a3e364286b196e8399f7c4599ec></app-tabs>
</span><pre [class.hide]="app72c89852787d9a3e364286b196e8399f7c4599ec.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Post, Res, HttpStatus &#125; from &#39;@nestjs/common&#39;;
import &#123; Response &#125; from &#39;express&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Post()
  create(@Res() res: Response) &#123;
    res.status(HttpStatus.CREATED).send();
  &#125;

  @Get()
  findAll(@Res() res: Response) &#123;
     res.status(HttpStatus.OK).json([]);
  &#125;
&#125;
</code></pre>
<pre [class.hide]="!app72c89852787d9a3e364286b196e8399f7c4599ec.isJsActive"><code class="language-typescript">
import &#123; Controller, Get, Post, Bind, Res, Body, HttpStatus &#125; from &#39;@nestjs/common&#39;;

@Controller(&#39;cats&#39;)
export class CatsController &#123;
  @Post()
  @Bind(Res(), Body())
  create(res, createCatDto) &#123;
    res.status(HttpStatus.CREATED).send();
  &#125;

  @Get()
  @Bind(Res())
  findAll(res) &#123;
     res.status(HttpStatus.OK).json([]);
  &#125;
&#125;
</code></pre><p>Though this approach works, and does in fact allow for more flexibility in some ways by providing full control of the response object (headers manipulation, library-specific features, and so on), it should be used with care. In general, the approach is much less clear and does have some disadvantages. The main disadvantage is that your code becomes platform-dependent (as underlying libraries may have different APIs on the response object), and harder to test (you&#39;ll have to mock the response object, etc.).</p>
<p>Also, in the example above, you lose compatibility with Nest features that depend on Nest standard response handling, such as Interceptors and <code>@HttpCode()</code> / <code>@Header()</code> decorators. To fix this, you can set the <code>passthrough</code> option to <code>true</code>, as follows:</p>

<span class="filename">
<app-tabs #app81f2770279ab5a917838cc1937fbfe0b659f18fc></app-tabs>
</span><pre [class.hide]="app81f2770279ab5a917838cc1937fbfe0b659f18fc.isJsActive"><code class="language-typescript">
@Get()
findAll(@Res(&#123; passthrough: true &#125;) res: Response) &#123;
  res.status(HttpStatus.OK);
  return [];
&#125;
</code></pre>
<pre [class.hide]="!app81f2770279ab5a917838cc1937fbfe0b659f18fc.isJsActive"><code class="language-typescript">
@Get()
@Bind(Res(&#123; passthrough: true &#125;))
findAll(res) &#123;
  res.status(HttpStatus.OK);
  return [];
&#125;
</code></pre><p>Now you can interact with the native response object (for example, set cookies or headers depending on certain conditions), but leave the rest to the framework.</p>

</div>

